body{
    background-color: #c48211;
    
}

.title{

    font-size: large;
    color: #ffff00;
    text-align: center;
}

div.header{
    background-color: #00ffff;
    border-bottom: 4px solid #000000 ;
    width: 80%;
}

.search a{
    font-size: medium;
    position: relative;
    padding: 20px;
    color: #7fffd4;
    text-transform: uppercase;
}

.body{
    align-items: center;
    padding: 20px;
}

.green{
    color:#adff2f;
}

.red{
    color: #d62d2dee;
}

.purple{
    color: #800080;
}

p#small{
    font-size: small;
    font-style: italic;
}

th.realm{
    color: gold;
}

th.inhabitant{
    color: rosybrown;
}
