body{
    background-color: #c48211;
    
}

.title{

    font-size: large;
    color: #ffff00;
    text-align: center;
}

div.header{
    background-color: #00ffff;
    border-bottom: 4px solid #000000 ;
}

p.text{
    font-size: small;
    font-style: italic;
}